body {
	font-family: 'Open Sans', sans-serif;
}
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	/*test with and without border-box*/
	box-sizing: border-box;
}
/*no bullet points will take effect only on ul not on other type or element*/
nav {
	/*Shorthand Property wherein padding is applied to all sides*/
	/*16px is 1rem*/
	padding: 0.8rem;
	/*
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
nav ul {
	list-style-type: none;
}

nav .nav-logo, nav .nav {
	margin: 0.5rem;
	/*change list style of items on list to inline or row instead of column list*/
	display: inline;
	/*
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	*/
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*center all text elements*/
	text-align: center;
	/*shorthand property*/
	/*top left bottom right*/
	/*padding: 2rem 10% 3rem 10%;*/ 
}
#intro h2, #intro p {
	margin-bottom: 1rem;
}
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	padding: 1rem;
	/*to make square button more circular*/
	border-radius: 25px;
}
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	text-align: center;
	margin-bottom: 1rem ;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 170px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}



/*member 1*/
#pre-footer {
	padding: 1rem;
	color: white;
	background: #002540;
}

/*member 2 - macaraig*/

#pre-footer div {
	display: inline-block;
	width: 20%;
}


/*member 3 berol*/
#pre-footer p {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

/*Member 4 bustillo*/
footer {
	padding: .7rem;
}


/*Member 5 Bustillo*/
footer span {
	margin-left: .5rem;
	margin-right: .5rem;
}
