/*Specificity*/

.external {
	color: green;
	font-family: "Lucida Handwriting", cursive;
}


/*Universal Selector*/
* {
	font-family: "Courier New", monospace;
	font-size: 60px;
/*!important first priority before intline, internal and external*/
	color: darkcyan /*!important*/; 
	text-align: center;
}

/*ID Selector*/
/*id-name*/

#zuitt-motto {
	letter-spacing: 20px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
	color: indigo;
	text-align: left;
	margin: left;
	padding: left;
}

/*Adjacent sibling selector*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	align-content: center;
}

#bootcamp-learning-list li {
	color: orange;
}

/*
ol li {
	color: #075966
}*/

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

.modules {
	letter-spacing: 10px;
	color: magenta;
}
